[user]
  name = Kyle Henderson
  email = kyle1101000@gmail.com

[commit]
  template = ~/dot_files/.gitmessage

[core]
  editor = vim
	excludesfile = /Users/kylehenderson/dot_files/.gitignore_global
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[push]
  default = current
  excludesfile = ~/dot_files/.gitignore_global
